html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

.container span {
  font-size: 30pt;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: #eee;
}
.container span:hover {
  transform: scale(1.1);
  filter: blur(5px);
}
.container span::after {
  content: var(--l);
  position: absolute;
  margin-top: 80%;

  filter: blur(30px);
  transform: rotate(50deg);
}

.hero {
  width: 100%;
  height: calc(100vh);
}

.background-blur-2 {
  backdrop-filter: blur(4px);
}